лабараторная 12 (2 XML)/information.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://msiter.ru" xmlns="http://msiter.ru" elementFormDefault="qualified">
   <xs:element name="information">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="univer" type="xs:string"/>
            <xs:element name="spes" type="xs:string"/>
            <xs:element name="ball" type="xs:string"/>
            <xs:element name="plan" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
	         <xs:element name="name_of_un" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>