лабараторная 13 (3 XML)/zxc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="information">
<xs:complexType>
<xs:sequence>
<xs:element name="univer" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name_of_un" type="xs:string" />
<xs:element name="ball" type="xs:string" />
<xs:element name="plan" type="xs:string" />
<xs:element name="city" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema